<div class="container" id="wrapper">


    <h1>Thrasher Magazine Scraper</h1>
    <h2><i>If you can do this...the homework should be no problem.</i></h2>

    <div id="articles">
        <ul>
            {{#each title}}
            <p>Title: {{title}}</p>
            <p>Link: {{link}}</p>
            {{/each}}

        </ul>
    </div>

    <div id="notes"></div>

</div>